.profile{
    display: flex;
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}
.profile h2{
    margin: auto;
}
.profile img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
}
.profile p{
    font-style: italic;
}
.profile p span{
    font-style: normal;
    font-weight: bold;
    font-size: large;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid black;
    
}
.trow{
    align-items: center;
    border: 2px solid black;
    width: 33.3vw;
}
.trow h3{
    border-bottom: 1px solid black;
}