.addb h2{
    width: 100vw;
   margin: 0 auto; 
   text-align: center;
   margin-top: 2rem;
   text-decoration: underline;
}

.add{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3rem;
    border: 1px solid black;
    width: 50vw;
    
    /* margin-left: auto;
    margin-right: auto; */
    padding: 2rem 1rem;
    border-radius: 10px;


}
.add input ,label, select{
    margin: 0.5rem 1rem;
    height: 2rem;
   
}

.add label{
    margin-bottom: 0;
    height: min-content;
}
.add button {
    background: black;
    padding: 0.5rem;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 1rem;
}

