.userflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.ucard{
    width: 15vw;
    border: 1px solid black;
    margin: 10px 15px;
    padding: 15px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}
.ucard button{
    padding: 5px 10px;
    /* background-color: rgb(139, 8, 8); */
    border: 2px solid brown;
    margin-top: 5px;
    border-radius: 0.5rem;
}

.ucard button:hover{
    background-color: brown;
    /* border: none; */
}